<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="/" style='font-size: 36px;'>Nuuz</a>

      <div class="container nav-collapse" style='float: right; padding-right:11px'>
        <i class="icon-search"></i>
        <input type='text'  class='search' placeholder='Search News List...'/>
      </div>

    </div>
  </div>
</div>